.banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: rem(100);
    width: 100%;
    height: rem(555);

    img {
        width: rem(583);
        margin-left: rem(117);
    }

    #imagem-banner {
        width: rem(800);
    }
}